@media (min-width: 500px) {
  body {
    font-size: larger;
  }
  body #top {
    background-color: #dcee8a;
  }
  body #hello {
    background-color: #b2ee8a;
  }
  body #table {
    background-color: #9eee8a;
  }
  body #list {
    background-color: #8ae2ee;
  }
  body #bottom {
    background-color: #95cbe0;
  }
  body h1 {
    font-size: 40px;
    font-family: fantasy;
  }
  body h2 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bolder;
  }
}

@media (max-width: 499px) {
  body {
    background-color: #b6e0dd;
    font-size: medium;
    font-family: fantasy;
  }
}

.container {
  max-height: 100%;
  line-height: 30px;
  padding: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: block;
  -webkit-box-align: flex-start, center;
      -ms-flex-align: flex-start, center;
          align-items: flex-start, center;
  height: 85 vh;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#name {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 25%;
}

#hello {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
}

#textarea {
  padding-top: 10%;
  font-family: cursive;
}

#table {
  display: block;
  border-collapse: collapse;
  text-align: left;
}

#table th {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  height: 50px;
  background-color: #4CAF50;
  color: white;
}

#table th, #table td {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}

#table tr:hover {
  background-color: #f5f5f5;
  font-size: x-large;
}

#list {
  display: block;
}

#list ol {
  list-style-type: upper-roman;
}

#list ol li {
  background: #ffe5e5;
  padding: 10px;
  margin-left: 15px;
}

#list li:hover {
  background: #6e6a6a;
  font-size: x-large;
}

#bottom {
  display: block;
  padding-top: 20%;
  padding-right: 10%;
}

#bottom .imagestyle {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50% 50% 95% 40%;
  max-height: 100%;
  width: auto;
  border: 2px solid #ddd;
  padding: 5px;
}

#bottom img:hover {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#bottom #click {
  display: block;
  margin: 20px;
  padding: 15px 22px;
  width: 50%;
  font-size: xx-large;
  border: 2px dashed 0;
  border-radius: 15%;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#bottom #click:hover {
  background-color: #4CAF50;
  color: white;
}
/*# sourceMappingURL=style.css.map */